<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default `en` }}">
<head>
  {{ partial "custom_layout/site/templates/site-header.html" . }}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  {{/* <script src="https://cdn.jsdelivr.net/npm/markmap-view@0.2.0"></script> */}}
  <script src="{{ `js/uml/markmap-view@0.2.0.js` | relURL  }}"></script>
</head>
<body>
  <main>
    {{ partial "site-header.html" . }}
    <h2 class="mt5" style="text-align: center;">By Sections
      <svg id="mindmap-section" class="mindmap"></svg>
    </h2>
    <h2 class="mt5" style="text-align: center;">By Date
      <svg id="mindmap-date" class="mindmap"></svg>
    </h2>
    {{ partialCached "site-footer.html" . }}
  </main>

  {{ $tree_section := slice }}
  {{ range .Site.Sections }}
    {{ $cur_level := 1 }}
    {{ $container := partial "func/get_sections_for_markmap" (dict "parent_level" $cur_level "page" .) }}
    {{ $tree_section = $tree_section | append (printf `{"t":"h", "d":%s, "v": "%s", "p":{} %s }` ($cur_level | string ) (printf `<a href=\"%s\">%s</a>` .Permalink .Title) (cond (gt (len $container) 0) (printf ", c:[%s]" (delimit $container ", ")) " ")) }}
  {{ end }}

  {{ $tree_date := slice }}
  {{ range .Site.Sections }}
    {{/* Todo 這邊要把各個文章日期 (未完成) */}}
  {{ end }}
  <script>
    (
      (e, section_json, date_json)=>{
        const{Markmap:r}=e();
        window.mm=r.create("svg#mindmap-section",null,section_json);
        window.mm=r.create("svg#mindmap-date",null,date_json);
      }
    )(
      ()=>window.markmap,
      {
        "t":"root","d":0,"v":"","c":[
          {{ delimit $tree_section ", " | safeJS }}
        ]
      },
      {
        "t":"root","d":0,"v":"","c":[
          {{ delimit $tree_date ", " | safeJS }}
        ]
      }
     );
  </script>
</body>
</html>
