@mixin init_code_block()
  .highlight pre
      max-height: 30rem  // 最好用max-height不要用height，因為有可能東西沒有那麼多，這樣就會造成很多空白的地方跑出來
      overflow-y: hidden
      overflow: auto  // 這個很重要，有了這個才可以有滾動條

  .block_scroll
    overflow: auto
    margin-top: 1.6em
    margin-bottom: 1.6em
    &_h-40em  // .block_scroll_h-40em
      @extend .block_scroll
      max-height: 40em
