$-margin_list: 0.67, 0.83, 1, 1.33, 1.67, 2.33
$-font_size_list: 2, 1.5, 1.17, 1, 0.83, 0.67

@mixin configure($margin_list: null, $font_size_list: null)
  // 可以透過此設定來修改本腳本的全域變數
  @if $margin_list
    $-margin_list: $margin_list !global  // global表示修改全域的數值
  @if $font_size_list
    $-font_size_list: $font_size_list !global

@mixin init_headers($margin_list: $-margin_list, $font_size_list: $-font_size_list)
  @if $margin_list == null
    $margin_list: $-margin_list

  @if $font_size_list == null
    $font_size_list: $-font_size_list

  @for $i from 1 through length($margin_list)
    $cur_font_size: nth($font_size_list, $i)
    $cur_mt: nth($margin_list, $i)
    $cur_mb: nth($margin_list, $i)
    h#{$i}  // #{} 加上這個會把引號取消，成為unquoted
      display: block
      font-size: $cur_font_size + em
      margin-top: $cur_mt + em
      margin-bottom: $cur_mb + em
      margin-left: 0
      margin-right: 0
      font-weight: bold
      // background-color: get_header_color($i)

      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

      // @if $i != 1
      //  color: #ec22c0

      & a::before  // hi a::before
        content: "🔗"  // 在前面加上一個連結的符號

      & a
        text-decoration: none   // 取消下畫線
        color: inherit!important   // 使用header本身的顏色。(hover的顏色也會被弄掉，所以如果要有hover的效果顏色要重弄，且如果這邊用的是important那麼hover也要用important才有辦法覆蓋)
      & a:hover
        color: #96CCFF!important

      // 這招沒用，因為其他的h1-h6也都是在div內
      // div &  // 想要讓header的shadow以及color只有在標題運用，在非標題所用到的header不套用此屬性
      //  text-shadow: none
      //  color: initial

  :target  // 文章內連結點擊過去的目標屬性設置
    border: 2px solid #D4D4D4
    background-color: #e5eecc

@function get_header_color($layer)
  @if $layer == 1
    @return initial
  @else
    @return bisque
