{{/*
create a post card with the bootstrap.
*/}}

{{- $article_image := default "" .Params.article_image -}}
{{- $font_color := default "" .Params.article_image -}}
<section class="zoom-in mt4 card" style="width:20rem;">
  {{- $bg_color := "bg-light" -}}
  {{- $btn_color := "btn-primary" -}}
  {{- $text_muted_color := "text-muted" -}}
  {{- if $article_image -}}

    {{- $bg_color = default "light" (index .Params.article_image "bg-color") -}}
    {{- $bg_color = printf "bg-%s" $bg_color -}}

    {{- $btn_color = default "primary" (index .Params.article_image "btn-color") -}}
    {{- $btn_color = printf "btn-%s" $btn_color -}}

    {{- $text_muted_color = default "text-muted" (index .Params.article_image "text-muted_color") -}}

    {{- $src := index $article_image "src" -}}
    {{- $src = (trim $src "/") | absURL -}}
    <a href="{{.Permalink}}"><img class="card-img-top" src="{{ $src }}" alt="image from {{ .Title }}"></a>
  {{- end -}}
  <div class="card-body
  {{ $bg_color }}
  {{ cond (in (slice `bg-warning` `bg-light` `bg-white`) $bg_color) `black` `white`}}
  ">
    <a class="link dim" href="{{.Permalink}}" style="color: inherit;"><h3 class="card-title" style="color:initial; text-shadow:none;">{{- .Title -}}</h3></a>
    <p class="card-text">{{- default .Summary .Description -}}</p>
    <a href="{{.Permalink}}" class="btn {{$btn_color}}">{{ i18n "readMore" }}</a>
    {{with .Date}}<p class="card-text"><small class="{{$text_muted_color}} float-end">{{ .Format "2006, Jan 2, Mon " }}</small></p>{{end}}
  </div>
</section>
