{{/*
https://www.srihash.org
*/}}
{{ if or .Page.Params.plantuml .Site.Params.plantuml }}
  {{/* <script src="https://cdn.jsdelivr.net/npm/plantuml-encoder@1.4.0/dist/plantuml-encoder.min.js" integrity="sha256-eRScmk4VrcNB654K41xHWfTcj/+u+spbMkI7g+cAA+k=" crossorigin="anonymous"></script> */}}
  <script src="https://cdn.jsdelivr.net/gh/jmnote/plantuml-encoder@1.2.4/dist/plantuml-encoder.min.js" integrity="sha256-Qsk2KRBCN5qVZX7B+8+2IvQl1Aqc723qV1tBCQaVoqo=" crossorigin="anonymous"></script>
  <script src="{{ relURL `js/uml/plantuml_encoder.js` }}"></script>
{{ end }}

{{/* TODO code-block of markmap 未完成
// <script src="https://cdn.jsdelivr.net/npm/markmap-view@0.2.0"></script>
{{ if .Page.Params.markmap }}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="{{ relURL `js/uml/markmap.js` }}"></script>
{{ end }}
*/}}
