{{/*
  與官方內建的figure不同之處是，這個版本用的是absURL，而官方的圖片位子預設是和markdown文件相同目錄當作開始
  {{< figure src="../../images/tab_icon.jpg" title="神氣的媽媽熊" >}}

  USAGE:

    {{< insert-figure "images/issues_position.png" >}}

    {{< insert-figure "images/issues_position.png" "titleName" >}}  // static/images/issues_position.png

  {{< insert-figure "images/issues_position.png" "titleName" "60%" "40%">}}  // width:60% height:40%

    {{< insert-figure src="images/issues_position.png" title="titleName" >}}
*/}}

{{ $src := "" }}
{{ $title := "" }}
{{ $width := "" }}
{{ $height := "" }}
{{ $from := "" }}
{{ if .IsNamedParams }}
  {{ $src = default "" (.Get "src" ) }}
  {{ $title = default "" (.Get "title") }}
  {{ $width = default "" (.Get "w") }}
  {{ $height = default "" (.Get "h") }}
  {{ $from = default "" (.Get "from") }}
{{ else }}
  {{ $src = default "" (.Get 0 ) }}
  {{ $title = default "" (.Get 1) }}
  {{ $width = default "" (.Get 2) }}
  {{ $height = default "" (.Get 3) }}
  {{ $from = default "" (.Get 4) }}
{{ end }}

<figure>
  {{ if or $width $height }}
    {{ $style := printf `style="%s%s"` (cond (gt (len $width) 0) (printf `width:%s;` $width ) "") (cond (gt (len $height) 0) (printf `height:%s;` $height ) "") }}
    <img src="{{ $src | absURL}}" {{ $style | safeHTMLAttr }}/>
  {{ else }}
    <img src="{{ $src | absURL}}" />
  {{ end }}

  {{ if $title }}
    <figcaption>
        <h4>{{- $title -}}</h4>
    </figcaption>
  {{ end }}

  {{ with $from }}
    <small style="font-size:0.4em;"><a href="{{ . | safeHTMLAttr }}">👆{{ T "sourceFrom" }}</a></small>
  {{ end }}
</figure>
